.heading{
    position: absolute;
     top: 58%;
     left: 50%; 
     font-family: 'Akaya Kanadaka', cursive;
     font-weight: bolder;
     transform: translateY(-58%) translateX(-50%);
     display: block;
     margin: 13px 0 17px 0;
     font-size: 36px;
     color: lightgray;
     text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
     letter-spacing:4px;
     background-color: rgba(159, 255, 159, 0.397);
     
   }
   .head{
     position: absolute;
     top: 95%;
     left: 50%; 
     transform: translateY(-85%) translateX(-50%);
      font-family: 'Akaya Kanadaka', cursive;
      font-size: 25px;
      /* margin-top:-50px; */
      color: lightgray;
      background-color: #32a001 !important;
      text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
      
    }
 
 /* font-family: 'Akronim', cursive;
 
 font-family: 'Luckiest Guy', cursive;
 font-family: 'Rubik Beastly', cursive;
 font-family: 'Nosifer', cursive;
 font-family: 'Rampart One', cursive;
 */ 